<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantastica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
	<form action="/busca" method="get">
		<input type="text" name="q" placeholder="Qual pizza você procura?" autocomplete="off" value="">
		<button type="submit">Buscar</button>
	</form>


	<main>
		<% for(var i=0; i < listaPizzas.length; i++) { %>
		<article>
			<img src="<%= listaPizzas[i].img %>">
			<a href="/pizza/<%=[i]%>">Ver Mais</a>
			<button>+ Add</button>
			<div> <%= listaPizzas[i].nome %> </div>
			<span>R$<%= listaPizzas[i].preco %></span>
		</article>
		<% } %>
    </main>

</body>
</html>
